body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.form-and-preview {
  display: flex;
  max-width: 1100px;
  width: 100%;

  margin: 30px;
  background: #f8f9fa;
  border-radius: 8px;
  overflow: hidden;
  gap: 30px;
}

.form {
  width: 40%;
  display: flex;
  flex-direction: column;
  color: black;
  gap: 20px;
}

.form-section {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-section > h2 {
  margin-top: 0px;
}

.cv-preview {
  width: 60vw;
  height: 100%;
  aspect-ratio: 1 / 1.414;
  padding: 0px;
  background-color: white;
}

.cv-preview h3 {
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 20px;
}

.cv-section {
  margin-bottom: 0px;
  padding: 50px 50px 0px 50px;
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.cv-section * {
  margin: 0;
  padding: 0;
}

.date {
  display: flex;
  grid-column: 1;
  gap: 5px;
}

.cv-section h4 {
  color: black;
  font-size: 1.2em;
  margin-bottom: 10px;
  padding: 4px;
  text-align: center;
  background-color: #f4f4f4;
  grid-column: span 2;
}

.education-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.education-item {
  display: grid;
  grid-template-columns: 1fr 2fr; /* 3 columnas a la izquierda, 2 a la derecha */
  grid-template-rows: auto 1fr; /* 1 fila para el título, 1 para el contenido */
  align-items: start;
}

.experience-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.experience-item {
  display: grid;
  grid-template-columns: 1fr 2fr; /* 3 columnas a la izquierda, 2 a la derecha */
  grid-template-rows: auto 1fr; /* 1 fila para el título, 1 para el contenido */
  align-items: start;
}

.general-info {
  background-color: rgb(40, 63, 101);
  color: white;
  border: none;
  border-radius: 0;
  text-align: center;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.general-info > h4 {
  color: white;
  background-color: rgb(40, 63, 101);
  grid-row: 1;
}

.general-info > p {
  display: inline-block;
  padding: 5px;
  grid-row: 2;
}

.experience-desc {
  grid-column: 2;
}

input {
  width: 90%;
  padding: 12px;
  margin-top: 5px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  background-color: #f4f4f4;
}

input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.3);
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  background-color: white;
  padding: 10px;
}

.clean-btn {
  color: red;
  background-color: white;
  border: none;
  width: 100%;
}

.load-btn {
  border: none;
  width: 100%;
}

.clean-btn:hover,
.load-btn:hover {
  border: none;
}

.clean-btn:focus,
.load-btn:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
