/* Estilos base (para pantallas grandes) */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.form-and-preview {
  display: flex;
  width: 100%;
  margin: 30px;
  background: #f8f9fa;
  overflow: hidden;
  gap: 30px;
}

.form {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-subsection-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cv-preview {
  width: 794px;
  height: 1112px;
  background-color: white;
  overflow: hidden;
  position: relative;
}

.cv-preview-inner {
  width: 794px;
  height: 1112px;
  /* Sin transform aquí en la vista de escritorio */
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  background-color: white;
  padding: 10px;
}

.buttons-container button {
  flex: 1;
}

/* Estilos responsive */

/* Tablets y pantallas medianas */
@media (max-width: 1024px) {
  .form-and-preview {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .cv-preview {
    order: -1;
    width: 794px;
    height: calc(width * 1.4);
    overflow-y: auto;
  }

  .form {
    width: 80%;
  }

  label {
    display: block;
  }

  input {
    width: 100%;
    display: block;
    margin-top: 0px;
  }
}

/* Móviles */
@media (max-width: 768px) {
  .form-and-preview {
    flex-direction: column;
    margin: 10px;
    gap: 10px;
  }

  .cv-preview {
    order: -1;
    width: calc(794px * 0.6); /* 397px */
    height: calc(1112px * 0.6); /* 556px */
    margin: 0 auto; /* Centramos horizontalmente */
    background-color: white;
  }

  /* Escalamos el contenido interno */
  .cv-preview-inner {
    transform: scale(0.6);
    transform-origin: top left; /* O top center, según prefieras */
  }
  .form {
    width: 100%;
    padding: 10px;
  }

  label {
    display: block;
  }
  input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    display: block;
  }
}

/* Móviles pequeños */
@media (max-width: 480px) {
  h2,
  h3,
  h4 {
    font-size: 1.2em;
  }

  .cv-preview {
    order: -1;
    width: calc(794px * 0.4); /* 397px */
    height: calc(1112px * 0.4); /* 556px */
    margin: 0 auto; /* Centramos horizontalmente */
    background-color: white;
  }

  /* Escalamos el contenido interno */
  .cv-preview-inner {
    transform: scale(0.4);
    transform-origin: top left; /* O top center, según prefieras */
  }
  .form-and-preview {
    margin: 5px;
    gap: 0px;
  }

  .form-section {
    padding: 15px;
  }

  label {
    display: block;
  }

  input {
    display: block;
  }
}

.form-section {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.view-btn {
  display: block;
}

.form-section > h2 {
  margin-top: 0px;
}

.cv-preview h3 {
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 20px;
}

.cv-section {
  margin-bottom: 0px;
  padding: 50px 50px 0px 50px;
  background: white;

  display: flex;
  flex-direction: column;
}

.cv-section * {
  margin: 0;
  padding: 0;
}

.date {
  display: flex;
  grid-column: 1;
  gap: 5px;
}

.cv-section h4 {
  color: black;
  font-size: 1.2em;
  margin-bottom: 10px;
  padding: 4px;
  text-align: center;
  background-color: #f4f4f4;
  grid-column: span 2;
}

.education-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.education-item {
  display: grid;
  grid-template-columns: 1fr 2fr; /* 3 columnas a la izquierda, 2 a la derecha */
  grid-template-rows: auto 1fr; /* 1 fila para el título, 1 para el contenido */
  align-items: start;
}

.experience-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.experience-item {
  display: grid;
  grid-template-columns: 1fr 2fr; /* 3 columnas a la izquierda, 2 a la derecha */
  grid-template-rows: auto 1fr; /* 1 fila para el título, 1 para el contenido */
  align-items: start;
}

.general-info {
  background-color: rgb(40, 63, 101);
  color: white;
  border: none;

  text-align: center;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.general-info > h4 {
  color: white;
  background-color: rgb(40, 63, 101);
  grid-row: 1;
}

.general-info > p {
  display: inline-block;
  padding: 5px;
  grid-row: 2;
}

.experience-desc {
  grid-column: 2;
}

input {
  width: 90%;
  padding: 12px;
  margin-top: 5px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  background-color: #f4f4f4;
}

input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.3);
}

.clean-btn {
  color: red;
  background-color: white;
  border: none;
  width: 100%;
}

.load-btn {
  border: none;
  width: 100%;
}

.clean-btn:hover,
.load-btn:hover {
  border: none;
}

.clean-btn:focus,
.load-btn:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

button {
  outline: none;
  border: none;
}

button:focus {
  outline: none;
}
